.web-project-card {
    min-width: 300px;
    width: 32.09%;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 0;
}

.web-project-card:hover {
    transform: scale(1.03) !important;
    cursor: pointer;
}

.web-project-card .image-container {
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.web-project-card .image-container img {
    height: 100%;
}

.web-project-card .project-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project-title {
    margin: 10px 0;
    font-size: 18px;
}

.description {
    margin-bottom: 10px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}

.web-project-card .stacks {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex: 1;
}

.web-project-card .stacks span{
    color: white;
    background-color: #818181;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
}

.web-project-card .action-btns {
    display: flex;
    gap: 5px;
    font-size: 14px;
    text-align: center;
}

.web-project-card .action-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.web-project-card .action-btns a i {
    margin-left: -14px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.web-project-card .action-btns a:hover > i {
    margin-left: 0 !important;
    opacity: 1 !important;
}

.web-project-card .action-btns .primary-btn {
    color: white;
    background-color: #3c3c3c;
    text-decoration: none;
    padding: 10px 0;
    flex: 1;
}

.web-project-card .action-btns .secondary-btn {
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
    text-decoration: none;
    padding: 10px 0;
    flex: 1;
}